<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="searchbar" class="mb-3">
    <div class="btn-group btn-group-toggle mb-1" role="group" aria-label="Search type">
        <input type="radio" class="btn-check" name="searchType" id="fullName" autocomplete="off" onclick="setSearchType('fullName')" checked>
        <label class="btn btn-primary " for="fullName">Tên người dùng</label>

        <input type="radio" class="btn-check" name="searchType" id="email" autocomplete="off" onclick="setSearchType('email')">
        <label class="btn btn-primary " for="email">email</label>
        <a href="/admin/user_management/admin_management" class="btn btn-primary">Tài khoản admin</a>
    </div>
    <form action="/admin/user_management/SearchUsers" method="get" class="search-form d-flex align-items-center">
        <input type="text" placeholder="Tìm kiếm người dùng" class="form-control me-2" name="fullName" id="search-input" required>
        <button type="submit" class="btn btn-primary" id="search-btn">Tìm kiếm</button>
    </form>
    <script>
        function setSearchType(type) {
            document.getElementById('search-input').name = type;
        }
    </script>

</div>
</body>
</html>