<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center" th:fragment="navbar">

    <ul class="navbar-nav">
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/admin/songs_management"><strong>QUẢN LÝ BÀI HÁT</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/admin/user_management"><strong>QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/contact"><strong>QUẢN LÝ NGHỆ SĨ</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/contact"><strong>QUẢN LÝ THỂ LOẠI</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/contact"><strong>QUẢN LÝ DANH SÁCH PHÁT</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/contact"><strong>QUẢN LÝ BÌNH LUẬN</strong></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/logout" onclick="return confirm('Bạn có chắc chắn muốn đăng xuất?');">Đăng xuất</a>
        </li>
    </ul>
</nav>
</body>
</html>