<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm bài hát mới</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Thêm nghệ sĩ mới</h1>
    <a href="javascript:history.back();" class="btn btn-outline-primary rounded-pill mb-4" >Quay lại</a>
    <form method="post" enctype="multipart/form-data">
        <div class="login__box mb-3">
            <input type="text" class="login__input" id="genreName" placeholder="" name="genreName" required>
            <label for="genreName" class="login__label">Tên thể loại</label>
        </div>
        <p id="errorMessage" class="error-message d-none text-danger">Vui lòng ghi đầy đủ thông tin trước khi nhấn nút thêm!</p>
        <button type="submit" class="normal__button" id="addButton">Thêm</button>
    </form>
</div>
<script>
    document.getElementById("addButton").addEventListener("click", function (event) {
        const textInput1 = document.getElementById("genreName");
        const errorMessage = document.getElementById("errorMessage");

        // Check if a file is selected
        if (!textInput1.value) {
            event.preventDefault(); // Prevent form submission
            errorMessage.classList.remove("d-none"); // Show the error message
        } else {
            errorMessage.classList.add("d-none"); // Hide the error message if valid
        }
    });
</script>
</body>
</html>
