<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin nghệ sĩ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Sửa thông tin nghệ sĩ</h1>
    <div class="btn-group btn-group-toggle mb-1" role="group" aria-label="Search type">
        <a href="/admin/artist_management" class="btn btn-outline-primary rounded-pill ">Quay lại</a>
        <a th:href="@{/admin/artist_management/editPic(artistId=${artist.artistId})}"  class="btn btn-outline-primary rounded-pill mx-3">Sửa file ảnh bìa</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="login__box my-3">
            <input type="text" class="login__input" placeholder="" th:value="${artist.artistName}" id="artistName" name="artistName">
            <label for="artistName" class="login__label">Tên nghệ sĩ</label>
        </div>
        <div class="login__box my-3">
            <textarea class="login__textarea" id="artistBio" th:text="${artist.artistBio}" placeholder="Thông tin về nghệ sĩ" name="artistBio" rows="3"></textarea>
        </div>
        <p id="errorMessage" class="error-message d-none text-danger">Vui lòng ghi đầy đủ thông tin trước khi nhấn nút cập nhật!</p>
        <button type="submit" class="normal__button" id="updateButton">Cập nhật</button>
    </form>
</div>
<script>
    document.getElementById("updateButton").addEventListener("click", function (event) {
        const textInput1 = document.getElementById("artistName");
        const textInput2 = document.getElementById("artistBio");
        const errorMessage = document.getElementById("errorMessage");

        // Check if a file is selected
        if (!textInput1.value ||!textInput2.value) {
            event.preventDefault(); // Prevent form submission
            errorMessage.classList.remove("d-none"); // Show the error message
        } else {
            errorMessage.classList.add("d-none"); // Hide the error message if valid
        }
    });
</script>=
</body>
</html>
